.streamlit\secrets.toml
.env
.venv
__pycache__/
scope.pdf
bulk_test_ideas.csv
concept.md
generate_scope_pdf.py 
tiktok_scraper
mrbeast_tiktok_videos.csv
test_tiktok.py
test_tiktok_oauth.py
tiktok_bronze.csv
tiktok_silver.csv
scrape_mrbeast.py
exchange_tiktok_token.py
credentials.json
decode.py