snowflake-snowpark-python
scikit-learn
joblib
matplotlib
seaborn
streamlit
pandas
snowflake-connector-python[pandas]
plotly
bcrypt
requests
openai
python-dotenv
scikit-learn
numpy
streamlit
pandas
numpy
plotly
snowflake-snowpark-python